
p {
	color: red;
}

div {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	margin: 10px;
}

#third > p {
	display: none;
}

h1 {
	display: none;
}

#second .right {
	visibility: hidden;
}

img {
	visibility: visible;
}