h1 {
	text-align: center;
}

#firstImg {
	width: 100%;
	height: 200px;
}

#secondImg {
	width: 200px;
	height: 200px;
}

#thirdImg {
	width: 200px;
	height: 200px;
}

table {
	width: 200px;
}
td {
	min-width: 100px;
}
caption {
	color: red;
}
table {
	margin: 0 auto;
}